/* CSS Demo Stylesheet */
/* My Color Scheme #A051F5, #F534C4, #D551F5, #6A51F5, #F5AEB8*/
/* Goolge Fonts */
/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  header.primary{
    background-color: rgb(212, 239, 239);
  }

body {
    background-color:rgb(180, 113, 151); 
    font-family: "Oswald", sans-serif;
}
