/* My Color Scheme #7EB6D9, #5D7A8C, #F2E58D, #BFB195, #2D3040,#261F22, #1F2F8C, #6D76A6, #2A438C,#F2F2F2  */

/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*  --------------- Resposive Images -----------------  */

img{
max-width: 100%;
}


/*  --------------- Utility Classes -----------------  */

.container{
  width: 80vw;
  max-width: 1000px;
  margin: 40px auto;
}

.img-right {
  float: right;
  margin: 10px 0 10px 20px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 50px;
}

.img-left {
  float: left;
  margin: 10px 20px 10px 0;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 50px;
}

.img-center {
  display: block;
  margin: 20px auto;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 50px;
}

  /*  ---------------Global Styles-----------------  */
body {
  font-family: "Oswald", sans-serif;
  margin:0;
}

header.primary{
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  padding:20px 40px;
}
header.primary{
  background-image: url("../img/Dragon-Logo.png");
  background-size: cover;
  position: absolute;
  padding: 80px 40px; 
}

header.primary h1{
  font-size: 2.4rem;
  margin:20px 0 0 0;
  color:#000000;
}

header.primary nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  max-width: 900px;
  margin: 20px auto;
}
header.primary nav ul li{
  list-style-type: none;
}
header.primary ul li a{
  color:#6D76A6;
  text-decoration: none;
  border: 6px solid #000000;
  padding: 2.5px 10px;
  border-radius: 20px 0 10px;
  background-color: rgba(0,0,0, .4);
  transition: .4s;
}

header.primary ul li a:hover{
  background-color: rgba(0,0,0, .8);
}

/* ------------- Content --------------- */

section#content{
  padding:30px;
}

#content p{
  border-bottom: 1px soild #261F22;
}

#content h1, h2{
  color:#1F2F8C;
  text-align: center;
  font-size: 2.3rem;
  padding: 0 0;
}


/* ------------- Articles --------------- */

#articles{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  border-top: 1px solid #261F22;
  padding: 2.3rem 0;
}

#articles article.post{
  background: #2A438C;
  box-shadow: 0 4px 8px rgba(0,0,0, .6);
  padding: 20px;
  margin-bottom:40px;
  border-radius: 10px;
  font-size: .8rem;
  transition: .4s;
}

#articles article.post:hover{
  box-shadow: 8px 8px 16px rgba(0,0,0, .6);
}

#articles article.post h2{
  color: #F2F2F2;
  text-align: center;
  font-size: 2em;
}

section#articles img{
  border-radius: 10px;
  border: 6px solid #000000;
}

#articles article.post h2{
  font-size: 1.9em;
  text-shadow: none;
}







